doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap.css')
  body
    include ./header.jade

    .container
        .row
            block content

    include ./footer.jade