nav.navbar.navbar-default
  .container
    .navbar-header
      a.navbar-brand(href='/') Simple Analytics

    .collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        li.active: a(href='/dashboard') Dashboard
        li.active: a(href='/realtime') Real Time