extends ./base_dashboard

block dashboard_content

  h1.page-header Daily

  #my_chart(style="height: 250px;")

  script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.1/moment.min.js')
  script(src='/js/daily.js')
  script.
    var result = !{JSON.stringify(events)}
    parse(result)

block scripts
