extends ./partials/base

block content
  .jumbotron
      h1 Simple NodeJS Analytics
      p Welcome to simple analytics project, where you can track your users actions both on mobile and web.
      a.btn.btn-primary.btn-lg(href='/dashboard') Open dashboard
      a.btn.btn-info.btn-lg(href='/realtime', style='margin-left: 10px;') Open real time tracking
  